/* fonts and color */

body {
    font-family: DroidSans, sans;
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    font-family: DroidSerif, serif;
    font-weight: normal;
    color: #101F70;
}
h1, h2, h3, h4 {
    color: #101F70;
}
a, a:focus, a:hover, a:visited {
    color: #101F70;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
strong,
em {
    color: #101F70;
}
img {
    /*image-rendering: -webkit-optimize-contrast;*/
}
.abs {
    position: absolute;
}
.abs p {
    margin: 0;
}
.abs img {
    width: 100%;
    display: block;
}
.w75 img {
    display: inline-block;
    width: 75%;
}
.w66 img {
    display: inline-block;
    width: 66%;
}
.w50 img {
    display: inline-block;
    width: 50%;
}
.shadow img {
    box-shadow: 0 0 5px silver;
}
.ref {
    position: absolute;
    bottom: 40px;
    left: 80px;
    right: 80px;
}
.ref p {
    font-size: 1rem;
    line-height: normal;

    opacity: 0.75;

    margin-top: 10px;
    margin-bottom: 10px;
}
.remark-code,
.remark-inline-code,
.remark-code-line {
    font-family: DroidSansMono, mono;
    font-size: 1rem;
    line-height: normal;
}
.remark-inline-code {
    color: #f92672;
}

.remark-slide-content {
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 20px 80px;
}
.remark-slide-content h2,
.remark-slide-content h3,
.remark-slide-content h4,
.remark-slide-content h5 {
    font-size: 2.2rem;
    margin: 2rem 0;
}
.remark-slide-content ul {
    margin-top: 20px;
}
.remark-slide-content ul > li {
    margin-bottom: 1rem;
}
.remark-slide-content ul > li > ul {
    margin: 1rem 0;
}
.remark-slide-content code {
    font-size: 1.2rem;
    line-height: normal;
}

.title {
    padding-top: 80px;
}
.title h1 {
    font-size: 2.4rem;
}
.title h2 {
    font-size: 2.0rem;
}
.title h3 {
    font-size: 1.6rem;
}
.title h4 {
    font-size: 1.2rem;
}
.title .remark-slide-number {
    display: none;
}

.inverted {
    color: white;
    background-color: #101F70;
}
.inverted h1,
.inverted h2,
.inverted h3,
.inverted h4,
.inverted h5,
.inverted h6,
.inverted a,
.inverted a:hover,
.inverted a:focus,
.inverted a:visited {
    color: white;
}

.screen-img {
    width: 720px;
}
.screen-img img {
    display: block;
    float: left;
    width: 100%;
    box-shadow: 0 0 5px silver;
}
.screen-text {
    margin-left: 740px;
    font-size: smaller;
}

.aside {
    position: absolute;
    top: 20px;
    left: 50%;
    right: 80px;
}
.smaller {
    font-size: smaller;
}
.smaller ul > li {
    margin-bottom: 5px;
}
.rdmo-logo img {
    width: 160px;
    margin-bottom: 40px;
}
